.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header__brand {
  color: #2099dd;
  text-decoration: overline black;
  font-size: 22px;
  font-weight: bold;
  padding: 0 20px;
}
