.raffle {
  text-align: center;
}

.raffle__greeting {
  margin: 30px 0;
}

.raffle__recentWinner,
.raffle__info {
  margin: 20px 0;
}

.raffle__inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.raffle__input {
  padding: 12px 10px;
  border: 2px solid #2099dd;
  border-radius: 15px 0 0 15px;
  font-size: 16px;
  height: 50px;
  width: 250px;
}

.raffle__enterBtn {
  background-color: #f2f6ff;
  border: 2px solid transparent;
  border-radius: 0 15px 15px 0;
  color: #2099dd;
  padding: 10px 20px;
  font-size: 17px;
  font-weight: bold;
  outline: none;
  height: 50px;
  width: 150px;
}

.raffle__enterBtn:hover {
  border: 2px solid #2099dd;
  transition-duration: 0.5s;
}

.raffle__enterBtn:disabled {
  border: 2px solid transparent;
}

.raffle__spinner {
  width: 22px;
  height: 22px;
  border: 3px solid #2099dd;
  border-bottom-color: transparent;
  display: inline-block;
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
