.raffle {
  text-align: center;
}

.raffle__inputContainer {
  margin-top: 20px;
}

.raffle__input {
  padding: 12px 10px;
  border: 2px solid #2099dd;
  border-radius: 15px 0 0 15px;
  font-size: 14px;
}

.raffle__enterBtn {
  background-color: #f2f6ff;
  border: 2px solid transparent;
  border-radius: 0 15px 15px 0;
  color: #2099dd;
  padding: 10px 20px;
  font-size: 17px;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
}

.raffle__enterBtn:hover {
  border: 2px solid #2099dd;
  transition-duration: 0.5s;
}
